# Plantilla de variables de entorno para ComercioTech (MongoDB Atlas)

# URI de conexión MongoDB Atlas (en la nube)
# Formato: mongodb+srv://<usuario>:<contraseña>@<host_cluster>/?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://usuario_atlas:contraseña_segura@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Nombre de la base de datos
MONGO_DB=comerciotech

# Pool de conexiones y Tiempos de Espera
MONGO_MAX_POOL_SIZE=10
MONGO_MIN_POOL_SIZE=2
MONGO_CONNECT_TIMEOUT_MS=3000
MONGO_SERVER_SELECTION_TIMEOUT_MS=10000
